.style1 {
	color: #FFFFFF;
	font-family: "Wii NTLG Gothic Latin", "Wii NTLG PGothic Latin";
	font-size: 24px;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
}
.style4 {
	font-size: 24px;
	font-family: "Wii NTLG Gothic Latin", "Wii NTLG PGothic Latin";
	color: #333333;
	text-align: left;
	font-weight: bold;
}
